<?xml version="1.0"?>
<robot name="pool">
    <link name="odom">
        <visual>
            <geometry>
                <mesh scale="0.1 0.1 0.1"
filename="package://boat_model/meshes/pool.stl"/>
            </geometry>
            <origin rpy="1.5708 0 0" xyz="0 0 0"/>
            <material name="concrete">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
    </link>
</robot>
